<!DOCTYPE html>
<html lang="en">

  {% include 'header.html' %}

  <body>

    <!-- Navigation -->
    {% include 'nav.html' %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='happyfamily.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Bio</h1>
              <span class="subheading">Meet Lena</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Lena Thayer has lived and worked in Newark since 1994 She currently lives in Fairfield with her Husband, Adam and their four children. Her small town roots are reflected daily in her dedication to her family, the community and the environment.</p>
          <p>In early 2004, Lena served the community by joining AmeriCorps for two terms of service as the Volunteer Coordinator for Brandywine Creek State Park (BCSP). During her second, transformative term, she was the AmeriCorps Delaware State Park Partners Volunteer Coordinator of the Year for her exceptional service. She then moved on to a role with the City of Newark under the Parks and Recreation Department. Lena accepted the position of Recreation Specialist where she worked on public events like Newark Night, Community Day, Liberty Day, the Spring Concert Series, and Safety Town.</p>
          <p>Lena also worked in Newark’s private sector for ten years with HostMySite (now grown into a multi-regional technology company, HOSTING.COM). She continued her love of community there, driving HOSTING’s local Charity Committee and Culture Crew. After leaving HOSTING this February, she learned that the fifth District may not have a voice in the upcoming City Council election. Seeing this was a call to action for Lena to take another opportunity to serve her community in a role that lends well to her experiences in both professional and personal life.</p>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src=" {{ url_for('static', filename='clean-blog.min.js') }}"></script>

  </body>

</html>
