<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

  <body>

    <!-- Navigation -->
    {% include 'nav.html' %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='Lena-Home.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Lena for Newark</h1>
              <span class="subheading">City Council 5th District</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-7 col-md-7">
          {% for post in posts %}
          <div class="post-preview">
            <a href="{{ url_for('post', post_id=post.id) }}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ post.subtitle }}
              </h3>
            </a>
            <p class="post-meta">Posted by {{ post.author }}</p>
          </div>
          {% endfor %}
          <hr>
          <!-- Pager -->
        </div>
        <div class="col-lg-3 col-md-3 sidebar">
          <img width="100%" src="{{url_for('static', filename='lena-2948-72-dpi-for-websites.jpg')}}" />
          <!-- start feedwind code --> <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="65523/"></script> <!-- end feedwind code -->
        </div>
        <div class="col-lg-1 col-md-1"></div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src=" {{ url_for('static', filename='clean-blog.min.js') }}"></script>

  </body>

</html>
