<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lena Thayer for Newark City Council</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='clean-blog.min.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">Lena for Newark</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('issues') }}">Issues Facing Newark</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('bio') }}">Bio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='post-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>Issues Facing Newark</h1>
              <h2 class="subheading">My plan for facing the issues facing Newark</h2>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <a data-toggle="collapse" href="#openCommunication" role="button" aria-expanded="true" aria-controls="openCommunication"><h3>Open Communication</h3></a>
            <div class="collapse" id="openCommunication">
              <p>lorem ipsum</p>
            </div><!--openCommunication-->
          </div>
        </div>
      </div>
    </article>
    <hr>

    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <a data-toggle="collapse" href="#communityEngagement" role="button" aria-expanded="false" aria-controls="communityEngagement"><h3>Community Engagement</h3></a>
            <div class="collapse" id="communityEngagement">
              <p>some content here</p>
            </div><!--communityEngagement-->
          </div>
        </div>
      </div>
    </article>
    <hr>

    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <a data-toggle="collapse" href="#stormwaterTaxes" role="button" aria-expanded="false" aria-controls="stormwaterTaxes"><h3>Stormwater Taxes</h3></a>
            <div class="collapse" id="stormwaterTaxes">
              <p>sample text</p>
            </div><!--communityEngagement-->
          </div>
        </div>
      </div>
    </article>
    <hr>

    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <a data-toggle="collapse" href="#rodneyComplex" role="button" aria-expanded="false" aria-controls="rodneyComplex"><h3>Rodney Complex</h3></a>
            <div class="collapse" id="rodneyComplex">
              <p>Rodney Complex sample text</p>
            </div><!--communityEngagement-->
          </div>
        </div>
      </div>
    </article>
    <hr>

    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <a data-toggle="collapse" href="#developemntAndGrowth" role="button" aria-expanded="false" aria-controls="developemntAndGrowth"><h3>Developemnt and Growth</h3></a>
            <div class="collapse" id="developemntAndGrowth">
              <p>Content about Developemnt and growth</p>
            </div><!--development-->
          </div>
        </div>
      </div>
    </article>
    <hr>

    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <a data-toggle="collapse" href="#bikeBridge" role="button" aria-expanded="false" aria-controls="bikeBridge"><h3>Bike Bridge</h3></a>
            <div class="collapse" id="bikeBridge">
              <p>Content about bike bridge</p>
            </div><!--bikeBridge-->
          </div>
        </div>
      </div>
    </article>
    <hr>

    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <a data-toggle="collapse" href="#Parking" role="button" aria-expanded="false" aria-controls="Parking"><h3>Parking</h3></a>
            <div class="collapse" id="Parking">
              <p>Content about Parking</p>
            </div><!--Parking-->
          </div>
        </div>
      </div>
    </article>
    <hr>

    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <a data-toggle="collapse" href="#UDrelationship" role="button" aria-expanded="false" aria-controls="UDrelationship"><h3>Relationship with UD</h3></a>
            <div class="collapse" id="UDrelationship">
              <p>Content about UD relationship</p>
            </div><!--UDrelationship-->
          </div>
        </div>
      </div>
    </article>
    <hr>

    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <a data-toggle="collapse" href="#cityManager" role="button" aria-expanded="false" aria-controls="cityManager"><h3>City Manager Position</h3></a>
            <div class="collapse" id="cityManager">
              <p>Content about city manager</p>
            </div><!--cityManager-->
          </div>
        </div>
      </div>
    </article>
    <hr>

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src=" {{ url_for('static', filename='clean-blog.min.js') }}"></script>


  </body>

</html>
